@model List<SliderGetModel>

@{
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-1 d-flex justify-content-between align-items-center">
                <h5 class="card-title">Slider Resimleri</h5>
                <a asp-controller="Slider" asp-action="Create" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped mb-0">
                        <thead class="table-secondary">
                            <tr>
                                <th style="width: 20px;">Id</th>
                                <th>Başlık</th>
                                <th style="width: 80px;">Resim</th>

                                <th>Açıklama</th>
                                <th>Index</th>
                                <th>Aktif</th>
                                <th style="width: 84px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var slider in Model)
                            {
                                <tr>
                                    <td>@slider.Id</td>
                                    <td>@slider.Baslik</td>
                                    <td>
                                        <img src="img/@slider.ImageUrl" class="img-fluid" alt="">
                                    </td>

                                    <td>@slider.Aciklama</td>
                                    <td>@slider.Index</td>
                                    <td>
                                        <i
                                        class="fa-solid @(slider.Aktif ? "fa-circle-check text-success" : "fa-circle-xmark text-danger")"></i>
                                    </td>
                                    <td>
                                        <a asp-controller="Slider" asp-action="Edit" asp-route-id="@slider.Id"
                                           class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a asp-controller="Slider" asp-action="Delete" asp-route-id="@slider.Id"
                                           class="btn btn-danger btn-sm">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>